# -*- mode: snippet -*-
# name: new instance of object
# uuid: newins
# key: newins                                                              
# --
$$1 = new ${2:$$(string-inflection-upper-camelcase-function yas-text)}${3:()};$0