# -*- mode: snippet -*-
# name: template
# key: template
# --
<template>
    $0
</template>

<script>
    export default {
        data: {
            return {

            }
        }
    }
</script>
